/* StyleCreateFilm.css или другой CSS файл, подключенный к странице */
.email-confirmation {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #181819;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.83);
    border-radius: 8px;
        margin-top: 200px;
    margin-bottom: 300px;
}

.email-confirmation h1 {
    text-align: center;
    color: #333;
}

.email-confirmation p {
    text-align: center;
    color: #f3f3ee;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    display: block;
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    background-color: #7c7b74;
    color: #070707;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #c7c6bd;
}
